<div class="container" id="input-container" *ngIf="input" [@visibility]="visibility">
    <h1>{{generatedWord1}}</h1>
    <ion-input type="email" class="input" [(ngModel)]="answer" [placeholder]="'translate_to' | translate" #input [@green]="greenYes"
        [@red]="redYes" (keyup.enter)="check()"></ion-input>
    <div id="check-wrapper">
        <button ion-button id="check-btn" icon-only round (click)="check()">
            <ion-icon name="md-arrow-forward" id="check-btn-icon"></ion-icon>
        </button>
        <div id="check-text">or hit return</div>
    </div>
</div>