<ion-header>
	<ion-navbar>
		<ion-title>{{ 'profile' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="openSettings()" *ngIf="auth.authState | async">
				<ion-icon name="settings" color="primary" showWhen="android"></ion-icon>
				<ion-icon name="cog" color="primary" showWhen="ios"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<span *ngIf="auth.authState | async">
		<img *ngIf="(auth.authState | async)?.photoURL" [src]="(auth.authState | async)?.photoURL" class="userPhoto">
		<ion-icon *ngIf="!(auth.authState | async)?.photoURL" name="contact" class="userIcon"></ion-icon>
		<h1>{{(auth.authState | async)?.displayName}}</h1>
		<h4 ion-text color="gray">{{(auth.authState | async)?.email}}</h4>
		<ion-list no-lines>
			<ion-item>
				<ion-label>{{ 'saved_words' | translate }}</ion-label>
				<ion-note item-end>{{savedWords}}</ion-note>
			</ion-item>
			<ion-item class="btn" (click)="getOrEditData()">
				<ion-label>{{ 'export_or_edit_my_data' | translate }}</ion-label>
			</ion-item>
			<ion-item class="btn" (click)="openPolicy('Privacy Policy')">
				<ion-label>{{'privacy_policy' | translate}}</ion-label>
			</ion-item>
			<ion-item class="btn" (click)="openPolicy('Terms of Service')">
				<ion-label>{{'terms_of_service' | translate}}</ion-label>
			</ion-item>
			<ion-item class="deleteBtn" (click)="openDeleteAlert()">
				<ion-label>{{ 'delete_my_account' | translate }}</ion-label>
			</ion-item>
			<ion-item class="logoutBtn">
				<ion-label (click)="logout()">
					<b ion-text color="primary">{{ 'logout' | translate }}</b>
				</ion-label>
			</ion-item>
		</ion-list>
	</span>
</ion-content>