// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #FF9500,
  secondary:    #32db64,
  danger:       #f53d3d,
  gray:        #c5c5c5,
  dark:         #222,
);
//ios #FF9600
//android #FF9800


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


//@import "ionic.theme.default";
@import "ionic.theme.dark";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$menu-width: 250px;
$tabs-md-tab-opacity: 1.0;
$tabs-md-tab-icon-color: #7E7F7E;
$tabs-background: #181818;
$toolbar-background: #181818;
$background-color: #0D0D0D !important;
$content-ios-outer-background: #0D0D0D;
$refresher-icon-color: #f4f4f4;
$refresher-text-color: #f4f4f4;
$refresher-border-color: #191919;
$spinner-ios-circles-color: #f4f4f4;
$spinner-md-crescent-color: #f4f4f4;
$toggle-ios-background-color-off: color($colors, 'dark');
$toggle-ios-border-color-off: gray;
$toggle-ios-background-color-on: color($colors, 'secondary');
$toggle-ios-handle-background-color: white;
$toggle-md-handle-background-color-off: #B9B9B9;
$toggle-md-track-background-color-off: #6F6F6F;
$list-ios-margin-bottom: 0;
$list-md-margin-bottom: 0;
$note-md-color: color($colors, gray);
$note-ios-color: color($colors, gray);
$alert-md-input-text-color:white;
$alert-md-background-color: #444444;
$alert-md-message-text-color: white;
$alert-ios-input-background-color: rgb(29, 29, 29);
$alert-ios-background: color($colors, 'dark');
$alert-ios-button-background-color-activated: rgb(29, 29, 29);
$alert-md-radio-label-text-color: white;
$alert-ios-radio-label-text-color: white;
$alert-ios-button-border-color: rgb(85, 85, 85);
$label-ios-text-color: white;
$label-md-text-color: white;
$alert-md-background-color: rgb(40, 40, 40);