page-forgotpassword {
    ion-card {
        margin: 1.5em auto !important;
    }
    ion-item {
        border-bottom:1px solid gray !important;
    }
    .resetButton {
        width:93%;
        margin: 25px auto 17px !important;
    }
}
