page-intro {
    .swiper-pagination-bullet {
        background-color: color($colors, gray);
    }
    .swiper-pagination-bullet-active {
        background-color: white !important;
    }
    h2 {
        font-size: 1.3em !important;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 1em;
        color: white;
    }
    .navBtn {
        z-index: 2;
        position: absolute;
        bottom: 0.2em;
        right: 1em;
        color: color($colors, primary);
    }
    ion-icon {
        margin-bottom: 20px;
        font-size: 7em;
    }
    img {
        height: 170px !important;
    }
}