<ion-header>
  <ion-navbar>
    <ion-title>{{ 'practice' | translate }}</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="globe" color="primary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="false">
      <button ion-button icon-only (click)="showOptions()">
        <ion-icon name="options" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content (click)="contentTouch()" no-bounce>
  <div id="wrapper">
    <practice-options></practice-options>
  </div>

  <h4 ion-text class="note" *ngIf="words1?.length < 4 && timeoutWorkaround">{{'add_some_more_words' | translate}}</h4>

  
  <!-- SELECT -->
  <div class="container" id="select-container" *ngIf="select" [@visibility]="visibility">
    <h1>{{generatedWord1}}</h1>
    <div class="grid">
      <div class="item2" (click)="correct()" [style.order]="randomNumbers[0]" [@green]="green">{{generatedWord2}}</div>
      <div class="item2" (click)="wrong(1)" [style.order]="randomNumbers[1]" [@red]="red1">{{generatedWords[0]}}</div>
      <div class="item2" (click)="wrong(2)" [style.order]="randomNumbers[2]" [@red]="red2">{{generatedWords[1]}}</div>
      <div class="item2" (click)="wrong(3)" [style.order]="randomNumbers[3]" [@red]="red3">{{generatedWords[2]}}</div>
    </div>
  </div>

  <!-- YES/NO -->
  <div class="container" id="yesno-container" *ngIf="yesNo" [@visibility]="visibility">
    <h1>{{generatedWord1}}</h1>
    <h2>{{generatedWord2}}</h2>
    <div class="yes-no-container">
      <div class="circle" [@green]="greenYes" [@red]="redYes" (click)="checkYN('yes')">YES</div>
      <div class="circle" [@green]="greenNo" [@red]="redNo" (click)="checkYN('no')">NO</div>
    </div>
  </div>

</ion-content>