page-add-word {
    .googleTranslateIcon {
        float: left;
        margin: 1em 1.2em;
        width: 14em;
    }
    .item {
        background-color: #242424;
    }
    .autoTranslateItem {
        margin-top: 40px;
    }
    .helpIcon {
        margin-left: 8px;
        vertical-align: bottom;
    }
}