page-add-word {
    .googleTranslateIcon {
        float: left;
        margin: 1em 1.2em;
        width: 14em;
    }
    .item {
        background-color: #242424;
    }

    .clear-btn {
        color: rgb(88, 88, 88);
    }

}