page-vocabulary {
    ion-spinner {
        height: 180% !important;
    }
    ion-note {
        padding-right: 0.8em;
    }
    .button:last-child {
        padding-right: 0;
    }
    ion-item-options button ion-icon {
        width: 2em;
    }
    ion-avatar {
        display: flex;
        align-items: center;
        margin: 0 !important;
        padding: 0 !important;
    }

}