progressbar {
    .progress-outer {
        width: 90%;
        margin: 0 auto;
        padding: 0px;
        text-align: center;
        background-color: rgb(50, 50, 50);
        color: #fff;
        border-radius: 50px;
    }
 
    .progress-inner {
        min-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px;
        border-radius: 50px;
        background-color: rgb(92, 92, 92);
        transition: 0.4s;
    }
}
